body {
  background-color: #e1e1e1;
}
.pp {
  font-family: "poppins", sans-serif;
}

/* Navbar */
.navbar {
  font-family: "poppins", sans-serif;
}
.navbar-brand {
  font-size: 50px;
  font-family: "Urbanist", sans-serif;
}
.dropdown-menu {
  border-radius: 10px 0px 0px 10px;
}
.dropdown {
  border-radius: 5px 0px 0px 5px;
  background-color: #f7f7f7;
  color: black;
}
.dropdown:hover {
  border-radius: 5px 0px 0px 5px;
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
/* End Navbar */

/* Album */
.container {
  font-family: "poppins", sans-serif;
}
/* End Album */

/* Modal */
.modal-content {
  background-color: #eeeded;
}
.input {
  background-color: #fafafa;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-left: 15px;
  color: black;
}
.input:hover {
  border-color: black;
  border-width: 0.15rem;
}
.input:focus {
  box-shadow: none;
  border-color: black;
}
.batal {
  background-color: rgb(224, 224, 224);
  color: black;
  font-size: 14px;
  font-family: "poppins", sans-serif;
  border: none;
  border-radius: 30px;
  padding: 0;
  height: 35px;
  width: 20%;
}
.batal:hover {
  border-color: black;
  background-color: black !important;
  color: white !important;
}
.simpan {
  background-color: black;
  color: white;
  font-size: 14px;
  font-family: "poppins", sans-serif;
  border-radius: 30px;
  border: 1px solid #000000;
  padding: 0;
  height: 35px;
  width: 20%;
}
.simpan:hover {
  background-color: rgb(224, 224, 224);
  color: black !important;
}
/* End Modal Profil_user*/

/* Footer */
footer {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  font-family: "poppins", sans-serif;
}
/* End Footer */
