body {
  background-color: #e1e1e1;
}
.container {
  margin-top: 6%;
}
.col-6 h1 {
  text-align: center;
  margin-top: 18%;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
}
.col-6 h1 span {
  font-family: "Urbanist", sans-serif;
  font-size: 45px;
}
.input {
  background-color: #f7f7f7;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  border-style: solid;
  border-color: black;
  border-width: 0.1rem;
  border-radius: 10px;
  padding-left: 15px;
  width: 80%;
  height: 40px;
  color: black;
}
.input:focus {
  box-shadow: none;
  border-color: black;
  border: 2px solid #000000;
}
.button {
  background-color: black;
  color: white;
  font-size: 14px;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  padding: 0;
  height: 35px;
  width: 50%;
}
.button:hover {
  border-color: none;
  background-color: rgb(190, 188, 188) !important;
  color: black !important;
}
p {
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
}
a {
  color: black;
}
