body {
  background-color: #e1e1e1;
}
.pp {
  font-family: "poppins", sans-serif;
}

/* Navbar */
.navbar {
  font-family: "poppins", sans-serif;
}
.navbar-brand {
  font-size: 50px;
  font-family: "Urbanist", sans-serif;
}
.dropdown-menu {
  border-radius: 10px 0px 0px 10px;
}
.dropdown {
  border-radius: 5px 0px 0px 5px;
  background-color: #f7f7f7;
  color: black;
}
.dropdown:hover {
  border-radius: 5px 0px 0px 5px;
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
/* End Navbar */

/* Profil */
.image {
  height: 20%;
}
/* End Profil */

/* Album */
.container {
  font-family: "poppins", sans-serif;
}
.poto-galeri {
  border-radius: 15px;
  width: 100%;
  height: 150px;
}
.poto-galeri:hover {
  transform: scale(1.01);
}
/* End Foto */

/* Modal */
.modal-content {
  background-color: #eeeded;
}
.btn-label {
  display: inline-block;
  background-color: #f7f7f7;
  color: black;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px 0px 15px 15px;
  width: 100%;
}
.btn-label:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
#gbr-preview {
  width: 220px;
  height: 220px;
}
#img-preview {
  border-radius: 10px;
  width: 500px;
  height: 250px;
}
#foto-preview {
  border-radius: 10px;
  width: 500px;
  height: 250px;
}
.inputfile {
  display: none;
}
.btn-edit-foto {
  font-size: 85%;
  height: 30px;
  width: 35%;
}
.input {
  background-color: #fafafa;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-left: 15px;
  color: black;
}
.input:focus {
  box-shadow: none;
  border-color: black;
  border: 2px solid #000000;
}
.batal {
  background-color: rgb(224, 224, 224);
  color: black;
  font-size: 14px;
  font-family: "poppins", sans-serif;
  border: none;
  border-radius: 30px;
  padding: 0;
  height: 35px;
  width: 20%;
}
.batal:hover {
  border-color: black;
  background-color: black !important;
  color: white !important;
}
.simpan {
  background-color: black;
  color: white;
  font-size: 14px;
  font-family: "poppins", sans-serif;
  border-radius: 30px;
  border: 1px solid #000000;
  padding: 0;
  height: 35px;
  width: 20%;
}
.simpan:hover {
  background-color: rgb(224, 224, 224);
  color: black !important;
}
/* End Modal Profil_user*/

/* Footer */
footer {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
footer p {
  font-size: 85%;
  font-family: "poppins", sans-serif;
}
.btn-footer {
  border-radius: 20px;
  color: black;
  height: 60px;
  width: 60px;
}
.btn-footer:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
.ikon {
  width: 100%;
  height: 100%;
}
/* End Footer */
